*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.progress-bar{
    position: relative;
    background-color: black;
    width: 500px;
    height: 3em;
    border-radius: 1.5em;
   
}

.progress-bar::before{
    position: absolute;
    content: attr(data-label);
    color:white;
    display: flex;
    border-radius: 1.5em;
    align-items: center;
    top:.5em;
    bottom:.5em;
    left:.5em;
    min-width: 10%;
    max-width: 95%;
    width: calc(var(--width,0) * 1%);



    background-color: blue;
    
}